/*table, tr, td {
  padding: 3px;
}*/

#game {
  margin: auto;
  width: 900px;
  height: 875px;
  background-repeat: no-repeat;
  background-image: url("./img/background.png");
}

.redCell {
  width: 65px;
  height: 65px;
  /*background-color: #FF0000;*/
  background-image: url("./img/red.png");
}

.greenCell {
  width: 65px;
  height: 65px;
  /*background-color: #00FF00;*/
  background-image: url("./img/green.png");
}

.blueCell {
  width: 65px;
  height: 65px;
  /*background-color: #0000FF;*/
  background-image: url("./img/blue.png");
}

.yellowCell {
  width: 65px;
  height: 65px;
  /*background-color: #FFFF00;*/
  background-image: url("./img/yellow.png");
}

.lightblueCell {
  width: 65px;
  height: 65px;
  /*background-color: #00FFFF;*/
  background-image: url("./img/lightblue.png");
}

.whiteCell {
  width: 65px;
  height: 65px;
  background-color: #FFFFFF;
}

.selectedCell {
  border: 3px solid black;
}
